node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next
out

.git
.gitignore
.github

README.md
*.md

.env
.env.local
.env.*.local

.vscode
.idea
.DS_Store

coverage
.turbo
Dockerfile
.dockerignore
